/* Google Fonts */

/* --- Import Components stylesheets --- */
@import url("components/container.css");
@import url("components/avatars.css");
@import url("components/buttons.css");
@import url("components/banners.css");
@import url("components/cards.css");


/* FONTS AND COLOURS ONLY */
body{
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(120, 120, 120);
}

body h1{
  text-align: center;
}

body h2{
  text-align: justify;
  color: rgb(140, 140, 140);
}
