.avatar{
  width: 40px;
  border-radius: 20px;  
}

.avatar_large{
  width: 56px;
  border-radius: 30px;  
}

.avatar_Xlarge{
  width: 72px;
  border-radius: 50%;  
}

/* In case the image of your avatar is not a square then consider the following */

/* .avatar{ */
/* width: 40px; */
/* height: 40px; */
/* border-radius: 50%; */
/* object-fit: cover; */
/* } */

/* of course you could just crop the image to sqaure! */