
.btn_airbnb {
text-decoration: none;
background-color: rgb(228, 29, 87);
color: white ;
/* font-weight: 300; */
border-radius: 4px;
padding: 8px 96px 8px 96px;
box-shadow: 2px 2px 11px rgba(80, 80, 80, 0.2);
}

.btn_airbnb:hover {



}

.btn_medium {
  text-decoration: none;
  background-color: white;
  color: rgb(155, 203, 190);
  border-color:  rgb(155, 203, 190);
  border-style: solid;
  border-radius: 4px;
  padding: 8px 72px 8px 72px;
  
  
}