/* Category Card */

.card_category{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0 ,0, 0, 0.1);
  height: 250px;  /* Always set the height rather than the width or it'' mess up the sizing later */
}

.card_category h2{
  color: aliceblue;
  text-shadow: 2px 2px 3px rgba(0 ,0, 0, 0.3);
}



/* Product Card */

.card_product{
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0 ,0, 0, 0.1);
  
}

.hgroup_product{
  margin: 16px;
}

.hgroup_product h2, p{
  margin: 0;
}

.picture_product{
  height: 150px; 
   /* Always set the height rather than the width or it'' mess up the sizing later */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  /* margin: 10px; */
}


/* Travel  Card */

.card_travel{
  box-shadow: 0px 5px 15px rgba(0 ,0, 0, 0.1);
}


.picture_travel{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}

.hgroup_travel{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;
  /* margin-bottom: 10px; */
}

.hgroup_travel h2, p{
  margin: 0;
}

.item{
  flex-grow: 1; 
}


